.page-home-h5 {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.page-home-h5 .page-left {
  padding: 0 64px;
  flex: 1;
}

.page-home-h5 .page-left .header {
  display: flex;
  justify-content: center;
  margin: 60px auto 90px;
}

.page-home-h5 .page-left .header .logo-img {
  width: 337px;
  height: 60px;
}

.page-home-h5 .page-left .container-title {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.page-home-h5 .page-left .container-box {
  padding: 20px;
  border-radius: 8px;
  border: 1px solid rgba(17, 36, 56, 0.08);
  background: #F6F9FC;
  margin: 24px 0;
}

.page-home-h5 .page-left .container-box .step-img {
  display: flex;
  margin-top: 20px;
}

.page-home-h5 .page-left .step-font {
  color: rgba(0, 0, 0, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.page-home-h5 .page-left .step-font span {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.page-home-h5 .page-left .both-betw-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.page-home-h5 .page-left .both-betw-box .both-betw-item {
  display: flex;
  align-items: center;
}

.page-home-h5 .page-left .both-betw-box .both-betw-item .twitter-icon {
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  width: 32px;
  height: 32px;
}

.page-home-h5 .page-left .both-betw-box .both-betw-item .twitter-icon img {
  width: 100%;
  height: 100%;
}

.page-home-h5 .page-left .both-betw-box .both-betw-item .twitter-text {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 6px;
}

.page-home-h5 .page-left .both-betw-box .both-betw-item .button-item {
  width: 78px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  border: 1px solid #34D026;
  color: #34D026;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 5px;
}

.page-home-h5 .page-left .both-betw-box .both-betw-item .button-item.green {
  background-color: #34D026;
  color: #fff;
}

.page-home-h5 .page-right {
  flex-shrink: 0;
  width: 600px;
  height: 900px;
}

.page-home-h5 .page-right img {
  width: 100%;
  height: 100%;
}
